* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   border: none;
   outline: none;
   font-family: 'Open Sans', sans-serif;
}

:root {
   --text-color: #fff;
   --bg-color: #c9d6ff;
   --main-color: #ffa343;
   --black-color: #000;

   --h1-font: 6rem;
   --h2-font: 3rem;
   --p-font: 1rem;
}

body {
   color: var(--text-color);
   background: var(--bg-color);
   padding-top: 110px;
}

header {
   position: fixed;
   top: 0;
   right: 0;
   z-index: 1000;
   width: 100%;
   background: var(--bg-color);
   padding: 23px 12%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   transition: .50s ease;
   border-bottom: 2px solid #000;
}

span {
   color: #86ba7d;
}

.logo {
   font-size: 33px;
   color: var(--black-color);
   font-weight: 700;
   letter-spacing: 2px;
}

.navbar {
   display: flex;
}

.navbar a {
   color: var(--black-color);
   font-size: var(--p-font);
   font-weight: 500;
   margin: 15px 22px;
   transition: all .40s ease;
}

.navbar a:hover {
   color: var(--text-color);
}

.h-right {
   display: flex;
   align-items: center;
   justify-content: center;
   background: var(--bg-color);
   height: 40px;
   padding: 10px;
}

.h-right input[type="text"] {
   padding: 8px;
   border: 2px solid #000;
   border-radius: 6px;
   font-size: 16px;
   background-color: #fff;
   width: 200px;
   transition: width 0.3s ease;
}

.h-right input[type="text"]:focus {
   width: 250px;
   border-color: var(--main-color);
}

.explore-content {
   text-align: center;
   padding: 40px 20px;
}

.explore-content h1 {
   font-size: 42px;
   font-weight: 700;
   margin-bottom: 20px;
   color: #85b0d4;
}

.explore-cards {
   display: flex;
   flex-direction: column;
   gap: 50px;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

.mostPlayed,
.mostLiked {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 70px;
   margin: 20px 0;
}

.button {
   width: 220px;
   height: 220px;
   font-size: 16px;
   background-color: #60a1b3;
   color: #000;
   border: 2px solid transparent;
   border-radius: 5px;
   cursor: pointer;
   transition: all .50s ease;
   display: flex;
   justify-content: center;
   align-items: center;
}

.button:hover {
   transform: translateX(10px);
   border: 2px solid #000;
   background: #90e0d2;
   color: #3c3d3c;
}
